html {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.14rem;
    font-weight: 300;
    color: #42413d;
    line-height: 1.8;
    position: relative;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
  
  button,
  input,
  textarea,
  select {
    font-family: "Poppins", sans-serif;
    opacity: 1;
    letter-spacing: 0.0143rem;
  }
  
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  ul,
  li {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  a {
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #000000;
  }
  
  a:hover,
  a:focus {
    outline: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color: #2e56bf;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0px 0px;
    margin: 0px 0px;
  }
  
  section::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .full_container {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
  }
  .scrollbar_custom5,
  .scrollbar_custom6 {
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 3px;
  }
  ::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
  }
  input::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input::-moz-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input::-ms-input-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input::placeholder {
    color: #000000;
    opacity: 1;
  }
  
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .logo img {
    width: 70px;
  }
  
  .navbar-expand-md {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding: 0rem 0rem;
  }
  
  .navbar-expand-md > .container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .logo img {
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .navigation.fixed .logo img {
    max-width: 10.5rem;
  }
  
  .navigation {
    background-color: #ffffff;
    position: relative;
    -webkit-box-shadow: 0px 0.071rem 0.71rem 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.071rem 0.71rem 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .navigation.fixed-top {
    width: 100%;
    position: absolute;
    top: 0%;
    background-color: #ffffff;
    /*-webkit-animation:slide-down 0.7s; animation:slide-down 0.7s;*/
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
  
  @keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .navigation .navbar-toggler {
    width: 40px;
    height: 35px;
    line-height: 0;
    color: #fff;
    border-color: #faa61a;
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
    padding: 0px 0px;
    margin: 1.3rem 0rem 0rem auto;
  }
  
  .navigation .navbar-toggler-icon {
    width: 35;
    height: 2px;
    display: block;
    background-color: #ffffff;
    margin: 5px auto;
  }
  
  .navigation .navbar-toggler:focus {
    outline: none;
    outline-offset: 0px;
  }
  
  .navigation .navbar-toggler:hover {
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    ) !important;
  }
  
  .navigation .navbar-toggler:hover .navbar-toggler-icon {
    background-color: #ffffff;
  }
  
  .navigation .navbar-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding: 0rem 1.07rem;
  }
  
  .navigation .navbar-nav li a,
  .home_toggle_block li a {
    position: relative;
    font-size: 1.07rem;
    color: #666666;
    font-weight: 500;
    text-transform: uppercase;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0.35rem 0rem;
  }
  
  .navigation .navbar-nav li a::before {
    width: 100%;
    height: 2px;
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    position: absolute;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    content: "";
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .navigation .navbar-nav li.active a::before,
  .navigation .navbar-nav li:hover a::before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .navigation .navbar-nav li svg {
    width: 1.3rem;
    fill: #252525;
  }
  
  .navigation .navbar-nav > li.active > a,
  .navigation .navbar-nav li a:hover {
    color: #181816;
  }
  
  .navigation .navbar-nav li a:hover svg {
    fill: #181816;
  }
  
  .navigation li.notification a {
    font-size: 1.5rem;
    color: #faa81f;
  }
  
  .navigation li.notification:hover a {
    background-color: transparent;
    color: #faa81f;
  }
  
  .navigation li.notification a i {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #faa81f;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .navigation li.notification span.info_dot {
    width: 1.78rem;
    height: 1.78rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ee494d;
    border: 1px solid #ffffff;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    border-radius: 50%;
    font-size: 0.85rem;
    color: #ffffff;
    font-weight: 300;
    z-index: 2;
  }
  
  .home_toggle_block,
  .home_toggle_block li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1px;
  }
  
  .home_toggle_block li a {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.8rem 1.8rem;
  }
  
  .home_toggle_block li.selected a,
  .home_toggle_block li a:hover {
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    color: #ffffff;
  }
  
  .home_toggle_block li.menu_toggler {
    transition: all 0.5s ease-out;
    cursor: pointer;
  }
  
  .home_toggle_block li.signup_popup_click_select a {
    background-color: #2f56be;
  }
  
  .banner_block {
    width: 100%;
    min-height: 47.5rem;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
  }
  
  /*.banner_block::before{ width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; background-color: rgba(0,0,0,0.5); content: ''; z-index: 1;}*/
  
  .banner_block .container,
  .download_app_block .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .banner_title {
    font-size: 50px;
    color: #181816;
    line-height: normal;
    font-weight: 800;
  }
  
  .banner_title span {
    display: block;
    color: #faa61a;
  }
  
  .banner_desc {
    font-size: 1.28rem;
    color: #828282;
    font-weight: 300;
    line-height: 2.21rem;
    margin: 15px 0px;
  }
  
  .book_now_btns a {
    font-size: 1.64rem;
    font-weight: 600;
    color: #000;
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    border-radius: 2px;
    padding: 10px 25px;
  }
  
  .book_now_btns a:hover {
    background-color: #ffffff;
    color: #fff;
  }
  
  .section_title {
    font-size: 4.28rem;
    color: #181816;
  }
  
  .section_title::before {
    width: 11.7rem;
    height: 0.14rem;
    background-color: #ee494d;
    position: absolute;
    bottom: -1.07rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    content: "";
  }
  section.client_says_block {
    background: #f7f7f7;
    padding: 40px 0px 100px;
  }
  .about_img_sec {
    width: 37.85rem;
    height: auto;
    opacity: 0.08;
    position: absolute;
    top: 0%;
    right: calc(-37.85rem - 1.07rem);
  }
  
  .client_says_box p {
    color: #42413d;
    line-height: 1.78rem;
    padding: 5rem 2.14rem 0rem;
  }
  
  .client_says_box h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #ff590a;
    font-size: 1.14rem;
    padding: 0rem 2.14rem;
    margin-top: 2.14rem;
  }
  
  .client_says_box h4 small {
    display: block;
    font-size: 87.5%;
    color: #333333;
    font-weight: 300;
  }
  
  .client_img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0rem;
    top: -3.5rem;
  }
  
  .client_img img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .client_says_slider.owl-carousel .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  
  .client_says_slider.owl-carousel .owl-nav button.owl-prev,
  .client_says_slider.owl-carousel .owl-nav button.owl-next {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../img/arrow_next.svg);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 0%;
    top: 0%;
    background-size: 100%;
    opacity: 0.2;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .client_says_slider.owl-carousel .owl-nav button.owl-next {
    background-image: url(../img/arrow_prev.svg);
    left: auto;
    right: 0%;
  }
  
  .client_says_slider.owl-carousel .owl-nav button span {
    display: none;
  }
  
  .client_says_slider.owl-carousel:hover .owl-nav button.owl-prev,
  .client_says_slider.owl-carousel:hover .owl-nav button.owl-next {
    opacity: 1;
  }
  
  .owl-dots {
    text-align: center;
  }
  
  .owl-carousel button.owl-dot {
    width: 0.71rem;
    height: 0.71rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    margin: 0rem 0.2rem;
  }
  
  .owl-dots .owl-dot.active {
    background-color: #ff5f00;
  }
  
  .download_app_block {
    height: 45rem;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    margin: 0rem 0rem 10rem;
    background-color: #f7f7f7;
  }
  
  .download_app_screen {
    width: 64rem;
    position: absolute;
    left: -55rem;
    top: 38%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  
  .download_app_heading {
    font-size: 3.07rem;
    color: #ffffff;
    font-weight: 600;
  }
  
  .download_app_desc {
    color: #ffffff;
  }
  
  .download_app_btns {
    margin-left: -0.71rem;
    margin-right: -0.71rem;
  }
  
  .download_app_btns li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 1.07rem 0.71rem;
  }
  
  .download_app_btns li img {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    max-width: 15rem;
  }
  
  .download_app_btns li:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  footer {
    background-color: #ffffff;
    border-top: 1px solid #d9d9d9;
    width: 100%;
    padding: 1.07rem 0rem;
  }
  
  .footersocila a {
    display: inline-block;
  }
  
  .footersocila a img {
    width: 1.85rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .footersocila a:hover img {
    width: 1.85rem;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer ul li:first-child a {
    padding-left: 0px;
  }
  
  footer ul li a {
    display: inline-block;
    color: #42413d;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0.57rem;
  }
  
  .copy a {
    color: #42413d;
    font-size: 0.93rem;
    font-weight: 400;
    display: inline-block;
  }
  
  footer ul li a:hover,
  .copy a:hover {
    color: #ee494d;
  }
  
  .copy_right_text {
    font-size: 0.92rem;
    color: #787878;
  }
  .headingbox {
    text-align: center;
  }
  .headingbox h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181816;
  }
  .aboutusboxes {
    padding: 40px 0px;
    background: #f7f7f7;
  }
  .howitplay {
    background-color: #fff;
    padding: 40px 0px;
    background-image: url(../img/howitworkbg.png);
    background-repeat: no-repeat;
    background-position: center 120px;
  }
  .headingbox h2 + hr {
    width: 60px;
    margin: 20px auto 30px;
    height: 6px;
    border: 0px;
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
  }
  .play-stocks-img img {
    background: #fff;
  }
  .about-S-content p a {
    color: #ff5f00;
    text-decoration: underline;
  }
  .match-proses {
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(142, 142, 142, 0.2);
    margin: 20px auto;
    padding: 20px 0px 0px;
    border-radius: 10px;
    width: 90%;
  }
  .win-img {
    height: 230px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
  }
  .wein-content {
    padding: 0px 15px 15px 15px;
    color: #565656;
  }
  .wein-content h5 {
    font-weight: 600;
  }
  .wein-content p {
    font-size: 15px;
    min-height: 90px;
    width: 80%;
    margin: 0 auto;
  }
  .client_says_box {
    width: 75%;
    min-height: 19rem;
    -webkit-box-shadow: 0.42rem -0.14rem 4.42rem 0.85rem rgba(213, 213, 213, 0.31);
    box-shadow: 0.42rem -0.14rem 4.42rem 0.85rem rgba(213, 213, 213, 0.31);
    margin: 4rem auto;
    background: #fff;
  }
  .quote_sec {
    width: 4.14rem;
    height: 4.14rem;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    bottom: -2.07rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-box-shadow: 0.57rem 0.57rem 2.42rem 0.28rem rgba(0, 0, 0, 0.11);
    box-shadow: 0.57rem 0.57rem 2.42rem 0.28rem rgba(0, 0, 0, 0.11);
  }
  .quote_sec img {
    max-width: 1.85rem;
  }
  ul.social_list {
    padding: 0px;
    list-style: none;
  }
  ul.social_list li {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background: #c9c9c9;
    border-radius: 50%;
  }
  ul.social_list li a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  ul.social_list li:hover,
  ul.social_list li.active {
    background: #ff5a00;
  }
  ul.social_list li:hover a,
  ul.social_list li.active a {
    color: #fff !important;
  }
  footer ul.social_list li a {
    padding: 0 0.57rem;
  }
  
  /*****Login sign up page css star*****/
  .Registered .modal-content {
    border-radius: 0px;
    border: 0px;
    border-top: 10px solid #f1f1f1;
  }
  .loginmodal h5.modal-title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    border: none;
  }
  .loginmodal .form-group {
    position: relative;
  }
  .loginmodal .form-control {
    min-height: 56px;
    border-radius: 50px;
    border: 1px solid #f4f3f3;
    color: #999999;
    font-size: 16px;
    padding-left: 29px;
    box-shadow: none !important;
  }
  .loginmodal h5.modal-title span {
    display: block;
    color: #ff6c24;
  }
  .custom_check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    padding-left: 30px;
    margin: 5px 0px;
  }
  .custom_check input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0px 0px;
    z-index: 2;
  }
  .custom_check .check_indicator {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 4px;
  }
  .custom_check input:checked + .check_indicator:before {
    width: 7px;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 2px;
    border: solid #ff6d26;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
  }
  .loginmodal button.btn.btn-primary {
    width: 98%;
    border-radius: 55px;
    height: initial;
    padding: 15px 10px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 600;
    margin: 0 auto;
    color: #000 !important;
    border: 0px;
    background-image: -moz-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    background-image: -ms-linear-gradient(
      18deg,
      rgb(255, 90, 0) 1%,
      rgb(255, 240, 0) 100%
    );
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: none !important;
  }
  .loginmodal button.btn.btn-primary:hover {
    background-image: -moz-linear-gradient(
      -10deg,
      rgb(255, 240, 0) 0%,
      rgb(255, 240, 0) 0%,
      rgb(255, 90, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      -10deg,
      rgb(255, 240, 0) 0%,
      rgb(255, 240, 0) 0%,
      rgb(255, 90, 0) 100%
    );
    background-image: -ms-linear-gradient(
      -10deg,
      rgb(255, 240, 0) 0%,
      rgb(255, 240, 0) 0%,
      rgb(255, 90, 0) 100%
    );
  }
  .loginmodal button.btn.btn-primary img {
    float: right;
    width: 25px;
  }
  .loginmodal p a:hover {
    color: #ff5e00;
  }
  .loginmodal p.signin a {
    color: #ff5e00;
  }
  
  /*Inner page css start*/
  .body-inner-P {
    background-color: #ecf0f4;
    height: 100vh;
  }
  .web-container {
    max-width: 480px;
    height: 100%;
  }
  .web-bg {
    background-image: url(../img/innerrightbg.jpg);
    position: fixed;
    left: 480px;
    right: 0;
    background-size: cover;
    top: 0;
    bottom: 0;
  }
  .web-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 0px;
  }
  .barbox {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: center;
  }
  .web-logo {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
  }
  .notification-count {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
    align-items: center;
  }
  .header_height {
    background-image: url(../img/headerbg.jpg);
    background-size: 100%;
    background-position: top;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
  }
  button.barsouter {
    background: transparent;
    border: 0px;
    padding: 0px;
  }
  button.barsouter img {
    width: 25px;
  }
  .web-logo a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
  }
  .notification-count i {
    font-size: 22px;
    color: #fff;
  }
  .notification-count a span {
    width: 17px;
    height: 17px;
    background: #2693ca;
    position: absolute;
    right: -10px;
    top: -5px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    font-size: 11px;
  }
  .notification-count a {
    position: relative;
    margin-right: 20px;
  }
  .download-app-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .carousel_img_outer {
    padding: 0px 10px;
  }
  .carousel_img_outer img {
    border-radius: 15px;
  }
  .searchquiz {
    width: calc(100% - 20px);
    margin: 12px auto 25px;
    position: relative;
  }
  .searchquiz .form-control {
    height: 50px;
    border-radius: 55px;
    border: 0px;
    box-shadow: none !important;
    padding: 5px 20px;
    font-size: 16px;
  }
  .searchquiz i {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e8e;
    opacity: 0.7;
  }
  .footer-tab {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 480px;
    background: #fff;
    box-shadow: 0px 10px 22px 0px rgba(110, 110, 110, 0.004);
    padding: 12px 0 0;
    z-index: 10;
  }
  .footer-tab .list-group {
    width: 100%;
    max-width: 480px;
    display: block;
  }
  .footer-tab .list-group a {
    display: inline-block;
    width: calc(100% / 5);
    float: left;
    border-radius: 0px;
    background: transparent;
    border: transparent;
    color: #706b76;
    padding: 40px 5px 5px;
    font-size: 14px;
    text-align: center;
  }
  .footer-tab .list-group a.active,
  .footer-tab .list-group a:hover {
    color: #b40901;
  }
  .footer-tab .list-group a span {
    width: 100%;
    display: block;
  }
  .footer-tab .list-group a.homeicon {
    background-image: url(../img/Home.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 33px;
  }
  .footer-tab .list-group a.homeicon.active,
  .footer-tab .list-group a.homeicon:hover {
    background-image: url(../img/Home-1.png);
  }
  
  .footer-tab .list-group a.mycontest {
    background-image: url(../img/my-contest.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 33px;
  }
  .footer-tab .list-group a.mycontest.active,
  .footer-tab .list-group a.mycontest:hover {
    background-image: url(../img/my-contest-1.png);
  }
  
  .footer-tab .list-group a.news {
    background-image: url(../img/news.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 33px;
  }
  .footer-tab .list-group a.news.active,
  .footer-tab .list-group a.news:hover {
    background-image: url(../img/news-1.png);
  }
  
  .footer-tab .list-group a.profiles {
    background-image: url(../img/profile.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 33px;
  }
  .footer-tab .list-group a.profiles.active,
  .footer-tab .list-group a.profiles:hover {
    background-image: url(../img/profile-1.png);
  }
  
  .footer-tab .list-group a.moreopctions {
    background-image: url(../img/more.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 33px;
  }
  .footer-tab .list-group a.moreopctions.active,
  .footer-tab .list-group a.moreopctions:hover {
    background-image: url(../img/more-1.png);
  }
  .quizouterbox {
    padding: 15px 0px 0px;
  }
  .quizouterbox h4 {
    font-size: 22px;
    padding: 4px 15px 14px;
    font-weight: 600;
  }
  .choosequizouter ul {
    display: inline-block;
    width: 100%;
  }
  .choosequizouter ul li {
    width: calc(100% / 3 - 1px);
    float: left;
    text-align: center;
    margin: 0.5px;
  }
  .choosequizouter ul li a {
    background-color: #fff;
    width: 100%;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0px;
  }
  .choosequizouter ul li a span {
    height: 70px;
    width: 100%;
    display: inline-block;
    background-position: center center;
  }
  .choosequizouter ul li a.active,
  .choosequizouter ul li a:hover {
    background-color: #b40901;
    color: #fff;
  }
  .choosequizouter ul li a.sport span {
    background-image: url(../img/sports.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
  }
  .choosequizouter ul li a.sport.active span,
  .choosequizouter ul li a.sport:hover span {
    background-image: url(../img/sports-1.png);
  }
  
  .choosequizouter ul li a.cinema span {
    background-image: url(../img/cinema.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
  }
  .choosequizouter ul li a.cinema.active span,
  .choosequizouter ul li a.cinema:hover span {
    background-image: url(../img/cinema-1.png);
  }
  
  .choosequizouter ul li a.history span {
    background-image: url(../img/history.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
  }
  .choosequizouter ul li a.history.active span,
  .choosequizouter ul li a.history:hover span {
    background-image: url(../img/history-1.png);
  }
  
  .choosequizouter ul li a.music span {
    background-image: url(../img/music.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px;
    background-size: contain;
  }
  .choosequizouter ul li a.music.active span,
  .choosequizouter ul li a.music:hover span {
    background-image: url(../img/music-1.png);
  }
  
  .choosequizouter ul li a.cars span {
    background-image: url(../img/car.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85px;
  }
  .choosequizouter ul li a.cars.active span,
  .choosequizouter ul li a.cars:hover span {
    background-image: url(../img/car-1.png);
  }
  
  .choosequizouter ul li a.knowledge span {
    background-image: url(../img/general-knowledge.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .choosequizouter ul li a.knowledge.active span,
  .choosequizouter ul li a.knowledge:hover span {
    background-image: url(../img/general-knowledge-1.png);
  }
  
  .choosequizouter ul li a.joks span {
    background-image: url(../img/Joks.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85px;
  }
  .choosequizouter ul li a.joks.active span,
  .choosequizouter ul li a.joks:hover span {
    background-image: url(../img/Joks-1.png);
  }
  
  .choosequizouter ul li a.moviees span {
    background-image: url(../img/movie-star.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .choosequizouter ul li a.moviees.active span,
  .choosequizouter ul li a.moviees:hover span {
    background-image: url(../img/movie-star-1.png);
  }
  
  .choosequizouter ul li a.harrymovies span {
    background-image: url(../img/harry-potter.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .choosequizouter ul li a.harrymovies.active span,
  .choosequizouter ul li a.harrymovies:hover span {
    background-image: url(../img/harry-potter-1.png);
  }
  .pageheaderouter {
    padding-bottom: 80px;
    position: relative;
    height: 100vh;
  }
  .choosequizouter ul li:nth-child(1),
  .choosequizouter ul li:nth-child(4),
  .choosequizouter ul li:nth-child(8),
  .choosequizouter ul li:nth-child(12),
  .choosequizouter ul li:nth-child(15) {
    margin-left: 0px;
  }
  .quiztab .list-group {
    flex-direction: revert;
    text-align: center;
    width: 85%;
    margin: -23px auto 20px;
    border-radius: 55px;
    overflow: hidden;
  }
  .quiztab .list-group a {
    border-radius: 0px;
    box-shadow: none !important;
    font-size: 18px;
    font-weight: 600;
  }
  .quiztab .list-group a.active {
    background: #2693ca;
    border-color: #2693ca;
  }
  .quizboxouter {
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .quizdetails {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .quizimg {
    min-width: 60px;
    width: 60px;
  }
  .quizimg img.img-fluid {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  button.btn.activebtn {
    width: 90px;
    background: #009504;
    border-radius: 55px;
    height: 38px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #009504;
    outline: none !important;
    box-shadow: none !important;
  }
  button.btn.activebtn:hover {
    background: transparent;
    color: #009504;
  }
  .quizcontent {
    width: calc(100% - 140px);
  }
  .quizcontent h4 {
    font-weight: 600;
  }
  .quizcontent p {
    font-size: 16px;
    color: #606060;
  }
  .quizamounts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .quizamounts p {
    font-size: 16px;
    margin-bottom: 0px;
    color: #6a6565;
    font-weight: 500;
  }
  .quizamounts span {
    font-weight: 600;
    font-size: 20px;
  }
  .quizcontent a:hover {
    color: #000;
  }
  .bar-con {
    background-color: #ccc;
    height: 0.5em;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .bar-three .bar {
    background-color: #b40901;
    transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -webkit-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -moz-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -o-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    height: 10px;
  }
  .statusouter {
    padding: 0px 15px 15px;
  }
  .statusouter .d-flex {
    justify-content: space-between;
  }
  .timezoon {
    padding: 10px 15px 15px;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  .timezoon p {
    margin: 0px;
  }
  .timezoon span {
    font-weight: 600;
  }
  .joinbtn button.btn {
    background: #2693ca;
    color: #fff;
    font-size: 18px;
    margin-bottom: 110px;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #56a0d6;
    outline: none !important;
    box-shadow: none !important;
  }
  .joinbtn button.btn:hover {
    background: transparent;
    color: #2693ca;
  }
  .rules {
    width: 50%;
    text-align: left;
    background: #ecf0f4;
    margin: 0px 0px 0px 100px;
    padding: 30px;
    border-radius: 6px;
  }
  .rules h4 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
  }
  .rules p {
    padding-left: 46px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  .rules p i {
    position: absolute;
    left: 0px;
    width: 35px;
    height: 35px;
    background: #f4cb3e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .statusouter .d-flex .bar-con {
    width: calc(100% - 40px);
    margin-top: 10px;
  }
  .watchtimer i {
    font-size: 25px;
    color: #fff;
  }
  .statusouter .d-flex .bar-con .bar {
    background-color: #fed613 !important;
  }
  .d-flex.align-items-center span {
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: -4px;
  }
  .quizpatner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 0 auto 14px;
    border-bottom: 2px dotted #ffffff;
    padding: 0px 0px 15px;
  }
  .userimg img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
  }
  .userone a {
    display: block;
    color: #fff;
    margin: 7px 0px 5px;
  }
  .userone a h5 {
    font-size: 17px;
  }
  span.points {
    background: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    display: block;
    cursor: pointer;
    color: #3f9ed1;
    font-weight: 600;
  }
  span.points i {
    color: #fed613;
  }
  .vsteam {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }
  .switch {
    width: 70px;
    height: 30px;
    display: inline-block;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    margin: 5px 20px;
  }
  .switch input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3ba0ce;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:before {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-indent: 30px;
    font-size: 14px;
    color: #2196f3;
  }
  .switch input:checked + .slider {
    background-color: #2196f3;
  }
  .switch input:checked + .slider:before {
    left: calc(100% - 26px);
    content: "";
    color: #ffffff;
    text-indent: -30px;
  }
  .questionsflex {
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    width: 90%;
    margin: 20px auto 0px;
  }
  .questionsflex .question {
    font-size: 20px;
  }
  .selectlenguge span.switch {
    margin: 0px 5px;
    top: -3px;
  }
  .selectlenguge {
    display: flex;
  }
  .custom_check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    padding-left: 30px;
    margin: 5px 0px;
  }
  .custom_check input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0px 0px;
    z-index: 2;
  }
  .custom_check .check_indicator {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0px;
  }
  .custom_check input:checked + .check_indicator:before {
    width: 11px;
    height: 22px;
    position: absolute;
    left: 10px;
    top: 3px;
    border: solid #00cc00;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
  }
  .questionsrightpart {
    width: 80%;
    margin: 0 auto;
  }
  .questionsrightpart h3 {
    color: #fcdd13;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .selectanswar ul li {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    height: 63px;
    text-align: left;
    padding: 10px;
    border: 5px solid #c6c6c7;
    font-size: 20px;
    font-weight: 600;
    color: #c6c6c8;
    display: block;
    margin: 0 auto 25px;
  }
  .selectanswar ul li span.custom_check {
    float: right;
  }
  .selectanswar ul li span.custom_check span.check_indicator {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: -4px;
  }
  .selectanswar ul li.active {
    background: green;
    color: #fff;
  }
  button.barsouter i {
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
  }
  .profileimg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
  }
  .userprofietop h4 a {
    color: #fff;
    margin: 20px 0px 10px;
    font-weight: 500;
    font-size: 19px;
  }
  .profileboxcenter {
    border-radius: 0px 0px 50px 50px;
    padding-bottom: 100px;
  }
  .serdetails {
    width: 80%;
    margin: -30px auto 0;
    background: #e6e6e6;
    padding: 15px;
    border-radius: 5px;
  }
  .serdetails p {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .serdetails p span {
    width: 140px;
    display: inline-block;
  }
  .winneruserouter {
    background-image: url(../img/winnerbg.png);
    width: 100%;
    background-position: bottom;
    background-size: 100%;
    text-align: center;
    padding: 100px 15px 50px;
  }
  .winnerimg img.userprofilein {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.31);
  }
  .winnerimg {
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 0 auto 15px;
  }
  span.lefticon {
    position: absolute;
    left: 12px;
    width: 30px;
    bottom: 2px;
  }
  span.winner-righticon {
    position: absolute;
    right: 12px;
    bottom: 2px;
    width: 30px;
  }
  .winneruserouter h3 {
    color: #fff;
    font-size: 30px;
    margin: 10px 0px 5px;
    font-weight: 600;
  }
  .winneruserouter p {
    color: #fff;
    font-size: 12px;
  }
  .winnercontent {
    margin: 20px 15px 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.08);
  }
  .winnercontent .d-flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .winnercontent .d-flex span.points {
    margin: 0px;
    background: #2693ca;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .winnercontent .d-flex span.points i {
    font-size: 18px;
    margin-right: 6px;
  }
  .winnercontent h3 {
    font-weight: 600;
    font-size: 27px;
    color: #000;
  }
  .winnercontent h3 {
    font-weight: 600;
    font-size: 27px;
    color: #000;
  }
  .winnercontent p {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    color: #000;
  }
  .winnercontent p span {
    width: 75%;
    display: inline-block;
  }
  .selectlengugequiz {
    padding: 50px 15px;
  }
  .selectlengugequiz h4 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 50px;
  }
  .selectlengugequiz .d-flex {
    justify-content: space-between;
    margin: 10px 0px 0px;
  }
  .selectlengugequiz button.btn {
    background: transparent;
    border: 1px solid #b40901;
    font-size: 18px;
    width: 100px;
    height: 47px;
    color: #b40901;
  }
  .selectlengugequiz button.btn:hover {
    background: #b40901;
    color: #fff;
  }
  .userimgedit {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  .userimgedit img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
  span.uploadimg {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
  }
  span.uploadimg input[type="file"] {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    width: 30px;
  }
  .editouter {
    margin: 15px 15px 0px;
    background: #e8e8e8;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .editouter .text-center {
    margin-bottom: 30px;
  }
  .editform .form-control {
    min-height: 45px !important;
    font-size: 15px;
    border-radius: 0px;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ccc;
  }
  .custom_radio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    padding-left: 30px;
    margin: 5px 10px 5px 0px;
  }
  .custom_radio input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0px 0px;
    z-index: 2;
  }
  .custom_radio .radio_indicator {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cccccc;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .custom_radio input:checked + .radio_indicator:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #090619;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6px 0px 0px -6px;
    content: "";
  }
  
  .sidebarheader {
    padding: 25px 15px;
    background-image: url(../img/headerbg.jpg);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    align-items: center;
    background-position: center 40%;
    background-size: 100%;
  }
  span.sidebaruserimg {
    min-width: 70px;
    max-width: 70px;
  }
  span.sidebaruserimg img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
    overflow: hidden;
  }
  .sidebaruserinfo {
    width: calc(100% - 70px);
    padding-left: 15px;
    color: #fff;
    position: relative;
  }
  .sidebaruserinfo h4 {
    font-weight: 600;
  }
  .sidebaruserinfo p {
    margin: 0px;
    font-size: 12px;
    opacity: 0.8;
  }
  ul.sidebarlisting {
    padding: 10px 0px;
  }
  ul.sidebarlisting li a {
    width: 100%;
    padding: 7px 15px;
    font-size: 16px;
  }
  ul.sidebarlisting li a i {
    width: 22px;
    position: relative;
    top: 1px;
  }
  ul.sidebarlisting li a:hover {
    background: rgb(0 0 0 / 8%);
    color: #000;
  }
  span.closebtn {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
    opacity: 1 !important;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    color: #000;
  }
  .glofensidebar {
    position: fixed;
    width: 0px;
    height: 100vh;
    background-color: #ccc;
    z-index: 100;
    top: 0px;
    left: -100px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: none;
  }
  .glofensidebar.main {
    width: 400px;
    left: 0px;
    display: block;
  }
  .glofensidebar.main + .overlay {
    background: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
    z-index: 10;
  }
  .newslist {
    padding: 10px 15px 80px;
  }
  .newslist li a {
    display: block;
    margin-bottom: 10px;
    background: #e6e4e4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #ccc;
    border: 1px solid #ccc;
    color: #000;
  }
  .newslist li a h5 {
    font-size: 18px;
    font-weight: 600;
  }
  .newslist li a p {
    font-size: 15px;
    margin-bottom: 5px;
  }
  span.newadate {
    width: 100%;
    text-align: right;
    display: block;
    font-size: 12px;
  }
  